
.navbar-img-mobile {
    display: none;
  }

  .background {
    background-image: url("/imgs/hamburguesas.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .navbar{
    background-color: #491A11;
    z-index: 2;
    position: fixed;
  }

  .navbar-img-desktop {
    display: 50vh;
    height: 5vh;
  }

  .nav-link{
    color: white !important;
    font-weight: 500 !important;
    font-size: 3vh !important;
  }

  .btn{
    background-color: #EF7B19 !important;
    border: none;
    color: white !important;
    font-weight: 500 !important;
  }
 
@media only screen and (max-width: 767px) {

    
    .navbar-img-desktop {
      display: none;
      height: auto;
    }
    
    .navbar-img-mobile {
      display: block;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: contain;
      width: 10vh;
      height: 10vh;
    }
    
}
  